<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/countdown")
    @Scripts.Render("~/bundles/angular-nvd3")
    @Scripts.Render("~/bundles/app")
    @*<script type="text/javascript" src="@Url.Action("angularValues.js", "Home", null, null)"></script>*@
    @RenderSection("scripts", required: false)
    <meta name="description" content="The description of my page" />
    
</head>
<body data-ng-app="main" data-ng-controller="RootController as vm">
    <div id="container">
        @RenderBody()

        <footer></footer>
    </div>
    @*SignalR Pipeline*@
    <script src="/signalr/hubs"></script>
</body>
</html>
